body {
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
}

.ubuntu {
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
}

/* block dividers */

.block-divider{
    width: 300px;
    height: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.block-divider-color1 {
    background-color: rgb(49, 0, 49);
}

.block-divider-color2 {
    background-color: black;
}

/* full band image */

.full-band-image {
    margin: auto;
}

/*nav alert*/

.tour-alert {
    padding: 10px, 10px;
    margin: 0;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    font-size: 120%;
}

.tour-alert a {
    color: purple;
}

.navalert-container {
    padding: 0;
    margin: 0;
}

.navalert-container .col-12 {
    padding: 0
}

/* nav bar */

.navbar {
    margin: 0;
    width: 100%;
    background-color: rgb(49, 0, 49);
}

.navbar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin: 5px;
    font-size: 120%;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 150%;
    border: solid 2px white;
    padding-left: 10px;
    padding-right: 10px;
}

.navbarbutton {
    float: right;
}

/* latest music */

.latest-music  {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    margin-top: 0;
}

.latest-music h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Merch */

.merch {
    align-items: center;
    justify-content: center;
    display: flex;

    margin-bottom: 30px;
}

.merch h2,h3 {
    text-align: center;
    margin-bottom: 30px;
}

.merch h3 {
    margin-top: 30px;
}

.merch-image {
    background-color: rgb(49, 0, 49);
    max-width: 300px;
    max-height: 300px;
    margin-right: 30px;
    border: solid 2px white;
}

/* Band Wiki */

.band-wiki-section {
    background-color: black;
}

.band-wiki {
    text-align: center;
}

.bandinfo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.bandinfo-title {
    margin-bottom: 20px;
    margin-top: 100px;
}

.member-body {
    margin-bottom: 30px;
}

.member-body h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: underline;
}

.member-bio {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;

}

/* Footer */

footer {
    margin-top: 20px;
    background-color: rgb(49, 0, 49);
}

.footer-title {
    text-align: center;
    margin-top: 10px;
}

.poster-jpg i {
    font-size: 25px;
    color: white;
    text-align: center;
    padding-left: 10px;
}

.social-links {
    margin-top: 10px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    color: rgb(49, 0, 49);
    background-color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 30%;
}

.download-title p {
    padding-bottom: 0;
    padding-top: 10px;
}

.btn-signup-og {
    color: white;
    background-color: black;
    border: solid 1px white;
}

/* Modal */

.modal-title {
    color: black;
}

.form-group label {
    color: black;
}

/* Carousel */

.bandcarousel {
    margin-top: 30px;
}

/* Gallery */

.gallery-latest-show {
    margin-top: 100px;
    text-align: center;
}

.gallery-container {
    align-content: center;
}

.imglist a {
    display: inline-block;
    margin-left: 2.5%;
    margin-bottom: 30px;
}

.gallery-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}