body {
    font-family: "Roboto", sans-serif;
    background-color: darkslategray;
}

/*nav alert*/

.tour-alert {
    padding: 10px, 10px;
    margin: 0;

}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
}

.navalert-container .col-12 {
    padding: 0
}

/* nav bar */

.navbar {
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin: 5px;
    font-size: 120%;
}

/* callout */

.callout-container {
    height: 100vh;
    
    align-items: center;
    justify-content: center;
    display: flex;

    position: relative;

    background: url(..assets/images/iprevailband.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border: solid 1px;
}

/* latest music */

.latest-music  {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.latest-music h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}