body {
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
}

/* block dividers */

.block-divider{
    width: 300px;
    height: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.block-divider-color1 {
    background-color: purple;
}

.block-divider-color2 {
    background-color: black;
}

/* callout - need to work on background image*/

.callout-container {
    height: 90vh;
    
    align-items: center;
    justify-content: center;
    display: flex;

    position: relative;

    background: url(..assets/images/iprevailband.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border: solid 1px;
}

/*nav alert*/

.tour-alert {
    padding: 10px, 10px;
    margin: 0;

}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
}

.navalert-container .col-12 {
    padding: 0
}

/* nav bar */

.navbar {
    margin: 0;
    width: 100%;
    background-color: purple;
}

.navbar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin: 5px;
    font-size: 120%;
}

/* latest music */

.latest-music  {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
    margin-top: 0;
}

.latest-music h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Band Wiki */

.band-wiki-section {
    background-color: purple;
}

.band-wiki {
    text-align: center;
}

.bandinfo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bandinfo-title {
    margin-bottom: 20px;
}

/* Footer */

footer {
    margin-top: 20px;
    color: purple;
}

.footer-title {
    text-align: center;
}

.poster-jpg i {
    font-size: 25px;
    color: purple;
    text-align: center;
    padding-left: 10px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    color: purple;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 30%;
}

.download-title p {
    padding-bottom: 0;
    padding-top: 10px;
}